*{
    margin: 0px;
    padding: 0px;
}

.cabeçalho{
    background-color: rgb(255, 255, 255);
    color: rgb(130, 66, 190);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.imagem-cabeçalho{
    width: 15%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}